<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <style>
        .navbar {
            color:white!important;
            border:2px solid black!important;
        }
        body {
            padding-top: 65px;
            background-color: white;
        
        }
        .nav-link {
            color:white!important;
            font-size: large;
        }
        .nav-link:hover {
            color:indigo!important;
        }
    </style>
    <title>Laptops</title>
  </head>

  </body>
  <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color:gray; color:white!important">
    <a class="navbar-brand" style="color:white" href="#">MarkhorProductions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" style="color:white"!important>
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item py-0 px-5 mr-4" style="color:white!important">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item py-0 mr-5">
          <a class="nav-link" href="/list">All LAptop</a>
        </li>
        <li class="nav-item py-0 mr-5">
          <a class="nav-link" href="/addlaptop">ADD Laptop</a>
        </li>
       
      </ul>
  
    </div>
  </nav>
  <div class="container">
</html>
